[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase = "*"
python-jwt = "*"
gcloud = "*"
sseclient = "*"
pycryptodome = "==3.4.3"
stellar-sdk = "*"
requests-toolbelt = "*"
flask = "*"
pipenv-to-requirements = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
